{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins":[["@babel/plugin-proposal-decorators", { "legacy": true }]]
}
// tsconfig.json中添加 "experimentalDecorators": true
// {
//     "compilerOptions": {
//         "target": "ES5",
//         "experimentalDecorators": true
//     }
// }